<h1>{{title | uppercase}} - {{name | lowercase}}  -{{code}}</h1>
<a [href]=url>Go to google</a>
<br>

<button (click)="onBtnClick()" mat-raised-button="primary" >click</button>

<br>

<input [(ngModel)]="code">

<form #inputForm="ngForm" (submit)="onSubmit(inputForm)">
    <input name="code" ngModel required minlength="3"/><br>
    <input name="name" ngModel maxlength="15"/>
    <input type="submit" value="Send" />
</form>

{{inputForm.value | json}}
{{inputForm.valid}}

<h1>Reactive Form</h1>

<form [formGroup]="simple" (submit)="onSimpleSubmit()">
    <input formControlName="code" /><br>
    <input formControlName="name" /><br>
    <input type="submit" value="Send" />
</form>

{{simple.value | json}} <br>
{{simple.valid}}

<button (click)="toggle()">{{x}}</button>

<div *ngIf="showContent">
    <h1> This is content</h1>
</div>

<form [formGroup]="simpleValue" (submit)="onSimpleValueSubmit()">
    <input formControlName="text" /><br>
    
    <input type="submit" value="Add item" />
</form>
<ul [ngClass]="{'active': showContent}">
    <li *ngFor="let item of list">{{item}}</li>
</ul>

<p>{{price | number:'1.3'}}</p>
<p>{{currentDate | date:'dd/MM/y'}}</p>
